.section-1 {
	margin-top: 50px;
	padding: 2rem;
	height: auto;
	background-color: #fdfffc;
}

.main-text {
	text-align: center;
}

.heading {
	font: 18px 'Gilroy', sans-serif;
	font-size: 2rem;
	color: #1f2423;
	font-weight: 900;
}

.info {
	font: 18px 'Gilroy', sans-serif;
	font-weight: 300;
}

@media only screen and (min-width: 600px) {
	.heading {
		font-size: 3rem;
	}
	.docs-img {
		width: 300px;
	}
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	.main-text,
	.heading,
	.info {
		text-align: left;
	}
}