.header {
	padding: 10px 20px;
	background-color:#fdfffc;
	position: fixed;
	top: 0;
	z-index:1;
	width: 100%;
	
}
.header:hover{
	box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
	transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
}

.font {
	font-family: 'Source Sans Pro', sans-serif;
}

.header .logo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}
.logo a{
    text-decoration: none;
    color:black;
}
