.header {
	padding: 10px 20px;
	background-color:#fdfffc;
}

.font {
	font-family: 'Source Sans Pro', sans-serif;
}

.header .logo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}
.logo a{
    text-decoration: none;
    color:black;
}
