/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 5px;
    border-radius:50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #272822; 
    border-radius: 50px;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }