.sidenav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: .25s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  }
  .sidenav .closebtn {
	position: absolute;
	font-weight: 100;
	text-decoration:none;
	top: 10px;
	color:#1f2423;
	right: 25px;
	font-size: 36px;
	font-size:30px;cursor:pointer;
  }
  
.navbox{
	
	padding: 1rem;
}	
.navbox li{
	
	list-style:none;	  
}
.navbar li .navlink{
	color:#1f2423;
	text-decoration: none;
}