.section-1 {
	margin-top: 50px;
	padding: 2rem;
	height: auto;
	background-color: #fdfffc;
  }
  
  .main-text {
	text-align: center;
  }
  
  .lead {
	color: rgb(187, 187, 187);
	font: 18px 'Gilroy', sans-serif;
	font-weight: 900;
  }
  
  .heading {
	font: 18px 'Gilroy', sans-serif;
	font-size: 2rem;
	color: #1f2423;
	font-weight: 900;
  }
  
  .info {
	font: 18px 'Gilroy', sans-serif;
	font-weight: 300;
  }
  
  .main-img {
	max-width: 100%;
	width: 100px;
  }
  .cm-btn:hover{transition: ease-in-out 0.4s;}
  .quick-setup h3{
	padding:0.5rem;
	font: 18px 'Gilroy', sans-serif;
	font-size: 2rem;
	color:#1f2423;
	font-weight: 1000;
  }
  .quick-setup .code{
	  width: 80%;
	  margin: 0 auto;
	 
  }
 .code .code-text{
	font: 18px 'Gilroy', sans-serif;
	font-weight: 300;
  }
  .section-2 {
	padding: 2rem;
	margin-top: -1rem;
	height: auto;
  }
  
  .author {
	padding: 2rem;
	height: auto;
	background-color: #0480ff;
  }
  
  .author .profile-pic .dp {
	max-width: 100%;
	width: 100px;
  }
  
  .author .text {
	text-align: left;
	padding: 1rem;
  }
  ::selection {
	color:#1f2423;
	background:#ddd;
  }
  
  .author .text .tag {
	font: 18px 'Gilroy', sans-serif;
	font-size: 18px;
	color: #fdfffc;
  }
  
  .author .text .name {
	font: 18px 'Gilroy', sans-serif;
	font-size: 1.3rem;
	color: #fdfffc;
  }
  
  .author .text .donation .coffee {
	width: 140px;
	font: 18px 'Gilroy', sans-serif;
  }
  .author .text .donation .patron
{
	margin:0px 10px;
	width: 140px;
	height: 46px;
	color:#1f2423;
	font: 18px 'Gilroy', sans-serif;

}  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  
  @media only screen and (min-width: 600px) {
	.heading {
	  font-size: 3rem;
	}
	.main-img {
	  width: 250px;
	  margin-top: 50px;
	}
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  
  @media only screen and (min-width: 768px) {
	.main-text,
	.lead,
	.heading,
	.info {
	  text-align: left;
	}
  }

  .section-2{
	  padding:2rem;
  }
  .section-2 .specs{ 
	  margin: 0 auto;
	  padding:1rem;
	  height: 200px;
	  border-radius: 5px;
	  display: flex;
	  justify-content: center;
	  align-items: center;	
	  background-color: #fff;
	font: 18px 'Gilroy', sans-serif;
  }
  .section-2 .specs:hover{
	   box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	   transition: ease-in-out 0.5s;
  }